<body style="background-color:rgb(53, 229, 235)"  > 
 
 
  
<div class="header" style="text-align:center">
  <h1 style="color:blue" >LOGIN</h1>
</div>
<br />

<form
  #f="ngForm"
  name="form"
  (ngSubmit)="addLogin()"
  class="row g-12"
  style="text-align:center"
>
<div class="col-12" >
<p>
<label for="username"  style="font-style:oblique" >USER NAME</label>&nbsp;
<input type="text" id="uname" name="username" placeholder="Enter your user name"  required="true" [(ngModel)]="model.username" />
</p>
</div>
<br />


<div class="col-12" >
<p>
<label for="password"  style="font-style:oblique" >PASSWORD</label>&nbsp;
<input type="text" id="pwd" name="username" placeholder="Enter your password"  required="true" [(ngModel)]="model.password" />
</p>
</div>
<br />